.container {
 max-width: 500px;
 width: 100%;
 margin: 10px auto;
}

.tasker {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 100%;
}

.tasker-body {
 width: 100%;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

.tasker-input {
 width: 70%;
 padding: 10px;
 box-sizing: border-box;
 text-align: center;
 outline: none;
 border: 1px solid rgba(0, 0 , 0, 0.5);
 border-radius: 10px;
 transition: all 0.4s linear;
}

.tasker-input:hover,
.b-task:hover,
.tasker-button:hover,
.delete:hover {
 border: 1px solid #8B0000;
   text-shadow: #8B0000 2px 0 0, 
               #8B0000 2px 1px 0;

}

.task-list {
width: 100%;
}

.tasker-button {
 width: 25%;
 border: 1px solid rgba(0, 0 , 0, 0.5);
 border-radius: 10px;
 padding: 10px;
 box-sizing: border-box;
 font-size: 15px;
 line-height: 1;
 text-align: center;
 transition: all 0.4s linear;
 cursor: pointer;
}

.b-task {
 display: flex;
 width: 100%;
 box-sizing: border-box;
 padding: 5px;
 border: 1px solid rgba(0, 0, 0, 0.5);
 border-radius: 10px;
 align-items: flex-start;
 justify-content: space-around;
 margin: 10px 0;
 transition: all 0.3s linear;
}


 input[type="checkbox"]:checked, 
 input[type="checkbox"]:not(:checked) {
position: absolute;
left: -9999px;
}

 input[type="checkbox"]:checked + label, 
 input[type="checkbox"]:not(:checked) + label {
display: inline-block;
position: relative;
padding-left: 28px;
line-height: 20px;
cursor: pointer;
}

 input[type="checkbox"]:checked + label:before, 
 input[type="checkbox"]:not(:checked) + label:before {
content: "";
position: absolute;
left: 0px;
top: 0px;
width: 20px;
height: 20px;
border: 1px solid #000; 
border-radius: 4px;
opacity: 0.7;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
content: "";
position: absolute;
transition: all 0.2s ease;
left: 5px;
top: 5px;
width: 8px;
height: 6px;
border-radius: 1px;
border-left: 3px solid #8B0000;
border-bottom: 3px solid #8B0000;
transform: rotate(-45deg);
}


input[type="checkbox"]:not(:checked) + label:after {
opacity: 0;
}

input[type="checkbox"]:checked + label:after {
 opacity: 1;
}

label {
 margin-right: 10px;
}

label:hover {
  text-shadow: #8B0000 2px 0 0, 
               #8B0000 2px 1px 0;

}

input[type="checkbox"]:checked + label:hover::before, 
input[type="checkbox"]:not(:checked) + label:hover::before {
 border: 1px solid #8B0000;
}


input[type="checkbox"]:hover::before {
  opacity: 1;
  border: 1px solid #8B0000;

}

.delete {
 display: flex;
 align-items: center;
 text-align: center;
 width: 20px;
 height: 20px;
 border: 1px solid rgba(0, 0, 0, 0.4);
 border-radius: 5px;
 cursor: pointer;
 position: relative;
}

.delete:before, 
.delete:after {
 content: ""; 
 position: absolute; 
 width: 14px; 
 height: 1px; 
 background: #000;
 left: 3px;
}
.delete:before {
 transform: rotate(45deg);
}
.delete:after {
 transform: rotate(-45deg);
}
